@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&display=swap');

:root{
    --bg-right: #000;
    --font-primary: 'Anton', sans-serif;
    --font-secundary: 'EB Garamond', serif;
}
.Login {
  background-color: #fff;
  display: flex;
  overflow: hidden;
}
.Login__container {
  max-width: 40rem;
  width: 95%;
  margin: auto;
}
.Login__title{
  text-align: center;
  font-family: var(--font-primary);
  font-style: italic;
  font-size: clamp(3rem, 4rem, 6rem);
  margin-bottom: 5rem;
}
.Login__inputs{
  margin: 2rem 0;
  font-size: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.Login__input{
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 1.7rem;
  color: #000;
}
.Login__input:focus-visible{
  outline: none;
}
.Login__submit {
  margin-top: 2rem;
}

/* Lado Derecho */
.Login__info {
  background-color: var(--bg-right);
  color: #fff;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

/* RESPONSIVE */
@media screen and (max-width: 1025px) {
  .Login__info {
    display: none;
  }
}

