@use './variables' as v;

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: v.$font-three;
  scroll-behavior: smooth;
}
body {
  font-size: 1.5rem;
}
a {
  font-weight: 500;
  color: #007FFF;
  text-decoration: none;
}
ul {
  list-style: none;
}

/* GENERAL STYLES */
.container {
  max-width: 50rem;
  margin: 0 auto;
  width: 80%;
}

/* HIDDEN FIELDS, WARNING IS IMPORTANT */
.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 0.9rem;

}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background: #888;
}