@use './variables' as v;

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: v.$font-primary;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}
h2 {
  font-family: v.$font-secundary;
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}