:root {
  --color-white: #fff;
  --color-semi-black: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-red: #f00;
  --bg-semi-black: rgba(0, 0, 0, 0.3);
  --bg-black: #000;
  --bg-white: #fff;
  --lineHeight-16: 1.6rem;
}
/* Modal */
.ReactModalPortal > div{
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease-in-out;
  z-index: 999;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
/* Estilos Modal Personalizado */
.Modal__fondo {
  background-color: var(--bg-semi-black);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.Modal__container {
  min-width: 40rem;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: var(--color-white);
  overflow: auto;
  border-radius: .5rem;
  padding: 0;
  border: none;
  outline: none;
}
.Modal__title {
  color: var(--color-black);
  position: relative;
  text-align: center;
  font-size: 3rem;
  padding: .5rem 0;
}
.Modal__title::after {
  content: '';
  background-color: var(--bg-semi-black);
  position: absolute;
  width: 100%;
  height: .2rem;
  bottom: 0;
  left: 0;
}
.Modal__form {
  padding: 1.5rem;
  margin-top: 1rem;
}

/* Estilos del Form */
.Modal__group {
  width: 100%;
  position: relative;
  border: .1rem solid var(--bg-semi-black);
  border-radius: .3rem;
  padding: 0;
  margin-bottom: 3rem;
}
.Modal__input{
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: none;
  background: transparent;
  font-size: 1.5rem;
  line-height: var(--lineHeight-16);
  resize: none;
}
.Modal__label{
  width: max-content;
  position: absolute;
  left: 0;
  top: .6rem;
  font-size: 1.4rem;
  padding: 0 1rem;
  background-color: transparent;
  color: var(--color-semi-black);
  font-weight: bold;
  cursor: text;
  transition-property: top font-size color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.Modal__group:focus-within,
.Modal__group:hover  {
  color: var(--color-black);
  border-color: var(--bg-black);
}
.Modal__input:focus,
.Modal__group:hover .Modal__input{
  color: var(--color-black);
}
.Modal__group:focus-within .Modal__label,
.Modal__input:not(:placeholder-shown) ~ .Modal__label {
  background-color: var(--bg-white);
  color: var(--color-black);
  font-size: 1.1rem;
  top: -1.1rem;
  left: .3rem;
  padding: 0 .8rem;
}
/* Imputs Error */
.Modal__group-error,
.Modal__group-error:hover {
  border-color: var(--color-red);
}
.Modal__group-error .Modal__label {
  border-color: var(--color-red);
  color: var(--color-red);
}
.Modal__message {
  position: absolute;
  left: 0;
  bottom: -1.8rem;
  font-size: 1.2rem;
  color: var(--color-red);
  padding-left: 1rem;
}

/* Inputs Activos */
.Modal__label-date{
  width: max-content;
  background-color: var(--bg-white);
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  left: .3rem;
  padding: 0 1rem;
  cursor: text;
}

/* Boton Flotante de Agregar */
.btn__add {
  width: auto;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border-radius: 2rem;
  background-color: var(--bg-black);
  color: var(--color-white);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  z-index: 999;
}
.btn__delete {
  width: auto;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  border-radius: 2rem;
  background-color: var(--bg-black);
  color: var(--color-white);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}
.btn__delete-active {
  opacity: 1;
  pointer-events: initial;
}
.btn__icon {
  font-size: 3rem;
}