@import url('https://fonts.googleapis.com/css2?family=Anton&family=EB+Garamond&display=swap');

:root {
  font-weight: 400;
  
  --font-primary: 'Anton', sans-serif;
  --font-secundary: 'EB Garamond', serif;
  --font-three: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-white: #fff;
  --color-semi-black: rgba(0, 0, 0, 0.3);
  --color-black: #000;
  --color-red: #f00;
  --bg-semi-black: rgba(0, 0, 0, 0.3);
  --bg-black: #000;
  --bg-blue-shadow: #0A1929;
  --bg-white: #fff;
  --line-height-1: 1;
  --lineHeight-16: 1.6rem;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--font-three);
  scroll-behavior: smooth;
  line-height: var(--line-height-1);
}
body {
  font-size: 1.5rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}

/* GENERAL STYLES */
.container {
  max-width: 50rem;
  margin: 0 auto;
  width: 80%;
}

/* BOTTONS */
.btn {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  padding: 1.4rem 1.2rem;
  font-size: 1.7rem;
  border-radius: .4rem;
  transition: transform .4s ease;
  cursor: pointer;
}
.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn:hover{
  transform: scale(1.02);
}

/* MODAL STYLES */
.ReactModalPortal > div{
  opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease-in-out;
  z-index: 999;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}
/* Estilos Modal Personalizado */
.Modal__fondo {
  background-color: var(--bg-semi-black);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.Modal__container {
  min-width: 40rem;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background: var(--color-white);
  overflow: auto;
  border-radius: .5rem;
  padding: 0;
  border: none;
  outline: none;
}
.Modal__title {
  color: var(--color-black);
  position: relative;
  text-align: center;
  font-size: 3rem;
  padding: .5rem 0;
}
.Modal__title::after {
  content: '';
  background-color: var(--bg-semi-black);
  position: absolute;
  width: 100%;
  height: .2rem;
  bottom: 0;
  left: 0;
}
.Modal__form {
  padding: 1.5rem;
  margin-top: 1rem;
}

/* Estilos del Form */
.Modal__group {
  width: 100%;
  position: relative;
  border: .1rem solid var(--bg-semi-black);
  border-radius: .3rem;
  padding: 0;
  margin-top: 2rem;
}
.Modal__input{
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  border-radius: none;
  background: transparent;
  font-size: 1.5rem;
  resize: none;
}
.Modal__label{
  width: max-content;
  position: absolute;
  left: 0;
  top: 1.1rem;
  font-size: 1.4rem;
  padding: 0 1rem;
  background-color: transparent;
  color: var(--color-semi-black);
  font-weight: bold;
  cursor: text;
  transition-property: top font-size color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.Modal__group:focus-within,
.Modal__group:hover  {
  color: var(--color-black);
  border-color: var(--bg-black);
}
.Modal__input:focus,
.Modal__group:hover .Modal__input{
  color: var(--color-black);
}
.Modal__group:focus-within .Modal__label,
.Modal__input:not(:placeholder-shown) ~ .Modal__label {
  background-color: var(--bg-white);
  color: var(--color-black);
  font-size: 1.1rem;
  top: -.8rem;
  left: .3rem;
  padding: 0 .8rem;
}
/* MODAL IMPUTS ERRORS*/
.Modal__group-error,
.Modal__group-error:focus-within,
.Modal__group-error:hover {
  border-color: var(--color-red);
}
.Modal__group-error:focus-within .Modal__label {
  color: var(--color-red);
}
.Modal__group-error .Modal__label {
  border-color: var(--color-red);
  color: var(--color-red);
}
.Modal__span {
  font-size: 1.2rem;
  color: var(--color-red);
}
.Modal__message-error {
  display: block;
  width: 100%;
  color: var(--color-white);
  text-align: center;
  font-weight: bold;
  background-color: var(--color-red);
  padding: .8rem 1rem;
  border-radius: .5rem;
}
/* Inputs Activos */
.Modal__label-date{
  width: max-content;
  background-color: var(--bg-white);
  color: var(--color-black);
  font-size: 1.1rem;
  font-weight: bold;
  position: absolute;
  top: -1rem;
  left: .3rem;
  padding: 0 1rem;
  cursor: text;
}

/* Boton Flotante de Agregar */
.btn__add {
  width: auto;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border-radius: 2rem;
  background-color: var(--bg-black);
  color: var(--color-white);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  z-index: 999;
}
.btn__delete {
  width: auto;
  position: fixed;
  bottom: 3rem;
  left: 3rem;
  border-radius: 2rem;
  background-color: var(--bg-black);
  color: var(--color-white);
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .7rem 1.5rem;
  cursor: pointer;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out;
}
.btn__delete-active {
  opacity: 1;
  pointer-events: initial;
}
.btn__icon {
  font-size: 3rem;
}

/* START FORMS STYLES */
.form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem 2rem;
}
.form__content {
  width: 100%;
}
.form__group {
  width: 100%;
  position: relative;
  border: .1rem solid var(--bg-semi-black);
  border-radius: .3rem;
  padding: 0;
}
.form__input{
  width: 100%;
  padding: 1.2rem 1rem;
  border: none;
  outline: none;
  border-radius: none;
  background: transparent;
  font-size: 1.5rem;
  resize: none;
}
.form__label{
  width: max-content;
  position: absolute;
  left: 0;
  top: 1.2rem;
  font-size: 1.4rem;
  padding: 0 1rem;
  background-color: transparent;
  color: var(--color-semi-black);
  font-weight: bold;
  cursor: text;
  transition-property: top font-size color;
  transition-duration: .2s;
  transition-timing-function: ease;
}
.form__group:focus-within,
.form__group:hover  {
  color: var(--color-black);
  border-color: var(--bg-black);
}
.form__input:focus,
.form__group:hover .form__input{
  color: var(--color-black);
}
.form__group:focus-within .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
  background-color: var(--bg-white);
  color: var(--color-black);
  font-size: 1.1rem;
  top: -.8rem;
  left: .3rem;
  padding: 0 .8rem;
}
/* FORM IMPUTS ERRORS*/
.form__group-error,
.form__group-error:focus-within,
.form__group-error:hover {
  border-color: var(--color-red);
}
.form__group-error:focus-within .form__label,
.form__group-error .form__input:not(:placeholder-shown) ~ .form__label {
  color: var(--color-red);
}
.form__group-error .form__label {
  border-color: var(--color-red);
  color: var(--color-red);
}
.form__span {
  font-size: 1.2rem;
  color: var(--color-red);
}
/* MESSAGE ERROR API */
.form__message {
  max-width: 25rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #2E2F36;
  color: var(--color-white);
  padding: 1.5rem;
  margin: 0 auto;
  border-radius: .5rem;
  border-left: .5rem solid #FF896F;
  line-height: 2.5rem;
  z-index: 100;
}
.form__message-content {
  position: relative;
  padding: 1.5rem 2.5rem 1.5rem 3rem;
}
.form__message-text {
  font-size: 1.2rem;
  color: #BEBEBE;
}
.form__message-btn {
  background-color: transparent;
  position: absolute;
  top: 2.8rem;
  right: 1.5rem;
  cursor: pointer;
}
.form__icon {
  font-size: 2.2rem;
  color: #BEBEBE;
}
.form__icon-error {
  position: absolute;
  left: 0;
  top: 1.5rem;
  color: #FF896F;
}
/* BOTTONS */
.form__submit {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: #000;
  color: #fff;
  padding: 1.4rem 1.2rem;
  font-size: 1.7rem;
  border-radius: .4rem;
  transition: transform .4s ease;
  cursor: pointer;
}
.form__submit:hover{
  transform: scale(1.02);
}
/* ICON LOADING */
.form__spinner {
  overflow: hidden;
  display: none;
}
.form__spinner-active {
  display: block;
  font-weight: bold;
}
.form__loading {
  font-size: 2rem;
  color: #fff;
  animation-name: loading;
  animation-duration: .8s;
  animation-iteration-count: infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END FORM STYLES */

/* START STYLES AUTHENTICATED */
.auth {
  background-color: #fff;
  display: flex;
  overflow: hidden;
}
.auth__container {
  max-width: 50rem;
  width: 95%;
  margin: auto;
  padding: 1.5rem;
}
.auth__title{
  text-align: center;
  font-family: var(--font-primary);
  font-style: italic;
  font-size: clamp(3rem, 4rem, 6rem);
  padding: 1.5rem;
}
.auth__links {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.auth__link {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
}
/* STYLES RIGHT SIDE AUTHENTICATED */
.auth__info {
  background-color: var(--bg-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  padding-left: 3rem;
}
.auth__content {
  max-width: 40rem;
  width: 95%;
  margin: auto;
  padding: 2rem;
}
/* RESPONSIVE AUTHENTICATED */
@media screen and (max-width: 1025px) {
  .auth__info {
    display: none;
  }
}

/* STYLES CALENDAR */

/* HEADER CALENDAR */
.calendar {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  background-color: var(--bg-blue-shadow);
  color: var(--bg-white);
}
/* STYLES HEADER LEFT */
.calendar__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.calendar__title {
  pointer-events: none;
  user-select: none;
}
.calendar__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  cursor: pointer;
}
.calendar__button {
  all: unset;
  background-color: transparent;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-color: #14385C;
  border-width: .2rem;
  border-style: solid;
  transition: border-color .15s ease-in-out;
}
.calendar__button:hover {
  background-color: #0E2237;
}
.calendar__button-today {
  border-radius: .5rem;
}
.calendar__container-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .2rem;
}
.calendar__button-arrows {
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  border: none;
}

.calendar__center {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
}

.calendar__rigth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.calendar__content{
  position: relative;
}
.calendar__select {
  background-color: transparent;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: .5rem;
  border-color: #14385C;
  border-width: .2rem;
  border-style: solid;
  cursor: pointer;
  transition: border-color .15s ease-in-out;
}
.calendar__select:hover {
  background-color: #0E2237;
}
.calendar__option {
  min-width: 15rem;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #0A1929;
  color: #5090D3;
  border-radius: .7rem;
  border-color: #14385C;
  border-width: .2rem;
  border-style: solid;
  padding: 1.5rem 0;
  z-index: 100;
}
.calendar__values {
  width: 100%;
  padding: .3rem 1.2rem;
  display: flex;
  justify-content: space-between;
  color: #B2BAC2;
  cursor: pointer;
  font-weight: 700;
}
.calendar__values-active {
  background-color: #0E2237;
  color: #14385C;
  border-radius: .5rem;
}

.calendar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .5rem 1.5rem;
}
.calendar__options {
  all: unset;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* STYLES CALENDAR */
.rbc-header {
  border: none;
  padding: .5rem 0;
}